.container {
  display: flex;
  justify-content: center;
}

.cards {
  display: grid;
  width: 630px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
}

/* Style the cards */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  color: white;
  height: 150px;
}